<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iCarBeacons.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31BA68431D7E0926008B49E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31BA68571D7E0927008B49E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31BA68621D7E0927008B49E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
